@charset "utf-8"; /*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: normal 14px/1.5 "PingFang SC", "Heiti SC", "Arial", "Lucida Grande", Verdana, STXhei, "Microsoft YaHei", "hei";
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, iframe {
    display: block;
}

html, body, .h100 {
    height: 100%;
}

h1, h2, h3 {
    font-weight: 600;
}

h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

address, cite, dfn, em, var, i {
    font-style: normal;
    font-weight: normal;
}

dfn {
    font-family: Arial;
}

ul, ol, ul li, ol li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

fieldset, img, button, input {
    border: 0 none;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #FFFFFF;
}

:focus {
    outline: none;
}

img {
    vertical-align: bottom;
    border: 0 none;
}

/*浮动清除*/
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix {
    *zoom: 1;
}
