.dynamic_contain{
  margin: 0 18px 20px;
}
.dynamic_contain_title{
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  color: #4C4B4B;
  text-align: left;
}
.dynamic_contain_time{
  font-size: 12px;
  line-height: 17px;
  color: #BDBDBD;
  text-align: left;
}
.dynamic_contain_introduce{
  margin-top: 15px;
}
.dynamic_contain_introduce p{
  text-indent: 2em;
  text-align: left;
  line-height: 23px;
  color: #4C4B4B;
}
.dynamic_contain_introduce img{
  width: 100%;
}
.dynamic_contain_introduce .text_img{
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 17px;
  color: #BDBDBD;
  text-align: center;
}
.dynamic_contain_introduce .text_title{
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 21px;
  color: #4C4B4B;
  text-align: center;
}


.dynamic_contain .top10{
  margin-top: 10px;
}
p.text_center{
  text-indent: 0;
  text-align: center;
}
p.text_title_second, p.text_title_third{
  text-indent: 0;
  text-align: center;
  font-weight: 600;
  width: 100%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 48px;
}
p.text_title_second{
  color: #d10412;
}
p.text_title_third{
  color: #363636;
}
p.text_title_fourth{
  text-indent: 0;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}
p.text_title_fifth{
  color: #9c283f;
}
p.text_title_sixth{
  color: #DD0707;
}
p.no_indent{
  text-indent: 0;
  text-align: left;
}
.solid{
  font-weight: 600;
}
.mTop10{
  margin-top: 18px;
}
.horizontal_img{
  display: inline-block;
}
.horizontal_img img:first-child{
  float: left;
  width: 49.5%;
}
.horizontal_img img:last-child{
  float: right;
  width: 49.5%;
}
